{{>layouts/header}}

<form class="row row-cols-lg-auto g-3 align-items-center" action="/articles/create" method="post">
    <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
        <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="title" name="title">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="content" name="content">
        </div>
    </div>



    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{{>layouts/footer}}